*{
  margin: 0
}

nav{
  width: 100%;
  height: 1138px;
  display:inline-flex;
  background-image: linear-gradient(to bottom, #1e1436,#642485 ,#331e6b);
}

.logoHero{

}
/* .logoWhite{
  width: 50px;
  height: 35px;
  margin-left:60px;
  margin-top:22px; */
}

header{
  width: 100%;
  height: 300px;

}
